*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier', sans-serif;
  transition: all 0.4s ease;
}
section{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F0F8FF;
  padding: 0 20px;
}

section .container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 320px;
  max-width: 800px;
  width: 100%;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  position: relative;
}

section .container .time{
  display: flex;
  align-items: center;
}
.container .time .time-colon{
  display: flex;
  align-items: center;
  position: relative;
}

.time .time-colon .time-text{
  height: 250px;
  width: 220px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #F0F8FF;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.time .time-colon .time-text,
.time .time-colon .colon{
  font-size: 150px;
  font-weight: 600;
}

.time .time-colon .colon{
  font-size: 60px;
  margin: 0 10px;
}
.time .time-colon .time-text .text{
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 2px;
}

